
# Logs
logs/
*.log
*.lock

# Runtime data
pids/
tmp/
*.pid
*.seed

# Yarn cache and Node.js dependency directories
.yarn/
node_modules/
bower_components/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Coverage and cache files
.cache/
coverage/
.eslintcache

# Build and distribution output
build/
dist/
out/

# IDE and editor-specific files
.idea/
*.swp
*.swo
*.iml
npm-debug.log.*

# Temporary files and backup files
*.bak
*.tmp
*.temp
~$*

# Lockfiles
*.lock
package-lock.json

# Ignore npm package folders for older setups
jspm_packages/

